[submodule "lib/pymaker"]
        path = lib/pymaker
        url = https://github.com/velerofinance/pymaker.git
[submodule "lib/pygasprice-client"]
	path = lib/pygasprice-client
	url = https://github.com/velerofinance/pygasprice-client.git
